{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All About Us</title>
    <link rel="stylesheet" href="{% static 'umdsite/style.css'%}"/>
    <link rel="stylesheet" href="{% static 'umdsite/style2.css'%}"/>
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'umdsite/images/logo.png'%}" alt="logo" class="img">
            <ul class="navHeadings">
                <li><a href="{% url 'sitehome' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <a href="{% url 'login' %}"><button type="button" class="loginbtn">Login/Sign Up</button></a>
        </nav>
    </header>
    <main>
       <div class="container">
           <br>
               <h2>What is this website meant for?</h2>
                  <li>This project is made by <b>Aman Basaruddin Sayyad</b> studying in TYBSc IT division A and roll no 088</li> 
                  <li>This is basically a initiative which can help people from all around the country for free medicines.</li>
                  <li>This website's main purpose is to collect donations from people like you i.e., if you have unused medicines available at your home, you can just donate to us so we can help any needy person who's searching for the same medicine instead. </li>
                  <li>We literally dump the unused medicines in dustbin when no longer needed, so thinking of poor people donating it will be a better choice. </li>
                  <li>For the people who need any medicines, just login to our portal and request for the medicine, if available we'll contact you ASAP.</li>
                  <li>You can also refer someone this website for any kind of medicines they want to have.</li>
                  <li>The Donator will be appreciated by certificate issued form our website for the good deeds.</li>
                  <li>We will have different volunteers working on the same motive, so if you have any query just go and give us a feedback, so we can view and solve the issue.</li>

                  <br>
                  <h2>What you can do here?</h2>
                  <li>Anyone from you if interested can go for volunteering the process of collect donations from donator and to give it to the reciever who is requesting for the same.</li>
                  <li>If your society is allowing then we would like to have a collect boxes in your society which donator will find and donate the medicine there, for which every weekend our volunteer will collect all the medicines that are there in the box.
                  </li>
                  <li>You can donate your and your relatives unused medicines here for charity by giving the proper details of medicines to our portal.</li>
                  <li>Also you can request for any kind of medicines for you as well as for your loved ones if they are in need, we will try to help you ASAP.</li>
                  
                  <img src="{% static 'umdsite/images/about-us.png'%}" alt="about-us" class="abtImg">
       </div>
    </main><br>
    <footer>
        <p class="footerSection">Copyright &copy; 2022 | Unused Medicine Donation</p>
    </footer>
</body>
</html>