{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'umdsite/style.css'%}"/>
  </head>
  <body>
    <div class="loginRegisterContainer">
      <div class="loginBox">
        <img src="{% static 'umdsite/images/loginLogo2.png'%}" alt="loginLogo" class="loginLogo">
        <form method="post" class="loginForm"> {% csrf_token %}
          <input type="text" name="UserName" class="inputFields" placeholder="Enter Your Username" id="UserID"> <br><br>
          <input type="password" name="PassWord" class="inputFields" placeholder="Enter Your Password"><br>
          <input type="submit" value="Sign in" class="formbtn"><br><br>
          <p class="bottomLR">Don't have an Account? <a href="{% url 'register' %}" class="LoginRegisterNow">Register now!</a></p>
          <p class="bottomLR"><a href="{% url 'sitehome' %}" class="LoginRegisterNow">Home</a><span> | </span><a href="{% url 'VolunteerLogin' %}" class="LoginRegisterNow">Volunteer Login</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
