{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register here</title>
    <link rel="stylesheet" href="{% static 'umdsite/style.css'%}"/>
</head>
<body>
    <div class="loginRegisterContainer">
        <div class="registerBox">
            <img src="{% static 'umdsite/images/regLogo.jpg' %}" alt="loginLogo" class="registerLogo">
            <form method="post" class="registerForm">{% csrf_token %}
                <input type="text" name="name" placeholder="Enter Your Name" maxlength="15" class="reqFields"><br>
                <input type="text" name="contact_no" placeholder="Enter Your Phone Number" maxlength="10" class="reqFields"><br>
                <input type="text" name="city_name" placeholder="Enter Your city Name" maxlength="10" class="reqFields"><br>
                <input type="text" name="pincode" placeholder="Enter Your Pincode" maxlength="6" class="reqFields"><br>
                <input type="text" name="username" placeholder="Set username without space & special charecters" class="reqFields"><br>
                <input type="password" name="password" placeholder="set a password" class="reqFields">
                <input type="submit" value="Sign up" class="formbtn">
                <span>Registered Successfully --> <a href="{% url 'login' %}" class="LoginRegisterNow">Login here!</a></span>
            </form>
        </div>
    </div>
</body>
</html>