{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'umdsite/style.css'%}"/>
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'umdsite/images/logo.png'%}" alt="logo" class="img">
            <ul class="navHeadings">
                <li><a href="{% url 'sitehome' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <a href="{% url 'login' %}"><button type="button" class="loginbtn">Logout</button></a>
        </nav>
    </header>
    <main>
        <div class="container">
            <img src="{% static 'umdsite/images/userIcon.png'%}" alt="User" class="UIcon">
            <div class="hello">Welcome User,</div>
            <hr>
            <h1 class="todayText">What would you like to do today?</h1>
            <div class="wltdt">
                <div class="Dbox">
                    <a href="{% url 'donation' %}">Helping someone by donating medicines</a>
                </div>
                <img src="{% static 'umdsite/images/orIcon.png'%}" alt="OR" class="betIcon">
                <div class="Rbox">
                    <a href="{% url 'request' %}">Needed a medicine</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p class="footerSection">Copyright &copy; 2022 | Unused Medicine Donation</p>
    </footer>
</body>
</html>