{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Profile</title>
    <link rel="stylesheet" href="{% static 'umdsite/style.css'%}"/>
    <link rel="stylesheet" href="{% static 'umdsite/style2.css'%}"/>
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'umdsite/images/logo.png'%}" alt="logo" class="img">
            <ul class="navHeadings">
                <li><a href="{% url 'sitehome' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <a href="{% url 'VolunteerLogin' %}"><button type="button" class="loginbtn">Logout</button></a>
        </nav>
    </header>
    <main>
        <div class="container">
            <img src="{% static 'umdsite/images/userIcon.png'%}" alt="User" class="UIcon">
            <div class="hello">Hello Volunteer</div>
            <hr><br><br>
            <h2 class="fontSize">User Queries and Requests:</h2>
            <li class="fontSize">Successfully got medicine</li> 
            <li class="fontSize">Not able to find a medicine</li> 
        </div>
    </main>
    <footer>
        <p class="footerSection">Copyright &copy; 2022 | Unused Medicine Donation</p>
    </footer>
</body>
</html>